:root {
  --color-white: white;
  --color-black: black;
  --color-grey: #f5f5f5;
  --color-blue: #346bd5;
  --color-gray: #858585;
}
.loginContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.left {
  width: 35vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-black);
  color: var(--color-white);
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
}
.right {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey);
  margin: 0 0 0 10px;
}
.signInHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--color-black);
}
.signInSubHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
}
.oneTabLogin {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}
.oneTabLoginIcon {
  margin: 0 5px 0 0;
}
.oneTabLoginBtn {
  margin: 0 20px 0 0;
  background: var(--color-white);
  border-radius: 10px;
  padding: 15px;
  border: none;
  cursor: pointer;
}
.formDataCard {
  height: 317px;
  width: 385px;
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signUpFormDataCard {
  margin: 30px 0 0 0;
  height: 450px;
  width: 385px;
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nameSubHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.nameInput {
  height: 40px;
  width: 325px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--color-grey);
}
.nameInput:focus {
  outline: 1px solid var(--color-black);
}
.emailSubHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.emailInput {
  height: 40px;
  width: 325px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--color-grey);
}
.emailInput:focus {
  outline: 1px solid var(--color-black);
}
.passwordSubHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.passwordInput {
  height: 40px;
  width: 325px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--color-grey);
}
.passwordInput:focus {
  outline: 1px solid var(--color-black);
}
.forgotPassword {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-blue);
}
.signBtn {
  height: 40px;
  width: 325px;
  border-radius: 10px;
  background: var(--color-black);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  cursor: pointer;
}
.DontHaveAnAccount {
  margin: 20px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--color-gray);
}
.register {
  margin: 20px 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--color-blue);
  cursor: pointer;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.fontAwesomeIcon {
  margin-left: 10px;
}
.displayError {
  color: red;
}

/* tablet screen size */
@media (max-width: 650px) {
  .left {
    font-weight: 500;
    font-size: 35px;
  }
  .signInHeading {
    font-weight: 500;
    font-size: 25px;
  }
  .signInSubHeading {
    font-weight: 300;
    font-size: 15px;
  }
  .oneTabLogin {
    margin: 20px 0;
  }
  .oneTabLoginIcon {
    margin: 0 5px 0 0;
  }
  .oneTabLoginBtn {
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 10px;
  }
  .formDataCard {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
  }
  .signUpFormDataCard {
    height: 450px;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
  }
  .nameSubHeading {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  }
  .nameInput {
    height: 10px;
    width: 250px;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
  }
  .nameInput:focus {
    outline: 1px solid var(--color-black);
  }
  .emailSubHeading {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  }
  .emailInput {
    height: 10px;
    width: 250px;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
  }
  .emailInput:focus {
    outline: 1px solid var(--color-black);
  }
  .passwordSubHeading {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
  }
  .passwordInput {
    height: 10px;
    width: 250px;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
  }
  .passwordInput:focus {
    outline: 1px solid var(--color-black);
  }
  .forgotPassword {
    font-weight: 400;
    font-size: 15px;
    line-height: 0px;
  }
  .signBtn {
    height: 40px;
    width: 220px;
    border-radius: 7px;
    font-weight: 300;
    font-size: 15px;
    line-height: 0px;
    border: none;
    overflow: hidden;
  }
  .DontHaveAnAccount {
    margin: 0px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;
  }
  .register {
    margin: 0px 0 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
  }
  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .fontAwesomeIcon {
    margin-left: 5px;
  }
  .displayError {
    color: red;
    font-size: 13px;
  }
}

/* mobile screen size */
@media (max-width: 415px) {
  .left {
    font-weight: 400;
    font-size: 20px;
  }
  .signInHeading {
    font-weight: 400;
    font-size: 20px;
  }
  .signInSubHeading {
    font-weight: 200;
    font-size: 10px;
  }
  .oneTabLogin {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.oneTabLoginIcon {
  margin: 0 5px 0 0;
}
.oneTabLoginBtn {
  margin: 10px 0px 0 0;
  background: var(--color-white);
  border-radius: 10px;
  padding: 15px;
  border: none;
  cursor: pointer;
}
  .formDataCard {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
  }
  .signUpFormDataCard {
    height: 310px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
  }
  .nameSubHeading {
    font-weight: 400;
    font-size: 12px;
  }
  .nameInput {
    height: 8px;
    width: 170px;
    border-radius: 5px;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 12px;
  }
  .nameInput:focus {
    outline: 1px solid var(--color-black);
  }
  .emailSubHeading {
    font-weight: 400;
    font-size: 12px;
  }
  .emailInput {
    height: 8px;
    width: 170px;
    border-radius: 5px;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 12px;
  }
  .emailInput:focus {
    outline: 1px solid var(--color-black);
  }
  .passwordSubHeading {
    font-weight: 400;
    font-size: 12px;
  }
  .passwordInput {
    height: 8px;
    width: 170px;
    border-radius: 5px;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 12px;
  }
  .passwordInput:focus {
    outline: 1px solid var(--color-black);
  }
  .forgotPassword {
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
  }
  .signBtn {
    height: 40px;
    width: 180px;
    border-radius: 7px;
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    border: none;
    overflow: hidden;
  }
  .DontHaveAnAccount {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    /* text-align: left; */
  }
  .register {
    margin: 0px 0 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
  }
  .flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .fontAwesomeIcon {
    margin-left: 5px;
  }
  .displayError {
    color: red;
    font-size: 11px;
  }
}
