.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h3 {
  color: red;
  font-size: 3em;
  filter: drop-shadow(1px 1px 8px red);
}
.img_404 {
  width: 500px;
  height: 500px;
}
.message_404 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  color: gray;
  font-size: 1em;
}
.btn_404 {
  margin-top: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

/* tablet screen size */
@media (max-width: 850px) {
  .message_404 {
    margin: 5px 100px 10px 100px;
  }
  .btn_404 {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 7px;
  }
}

/* mobile screen size */
@media (max-width: 450px) {
  .img_404 {
    width: 250px;
    height: 200px;
  }
  .container h3 {
    font-size: 2em;
  }
  .message_404 {
    font-size: 0.8em;
    margin: 5px 10px 10px 10px;
  }
  .btn_404 {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 5px;
  }
}
